<!-- code for Bellatorum email footers. Paste into wordpress html editor, then convert to visual, then copy and paste into gmail footer -->

<!-- footer code for Robert Dark -->

<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-top: 0; border-bottom: 0: border-left: 0; border-right: solid 3px #000000; padding: 0 7px 0 0;" valign="center"><img id="preview-image-url" src="https://www.dropbox.com/s/dzizx1nv34cyano/email-sig2.png?raw=1" /></td>
<td style="padding: 0 0 0 12px;">
<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-bottom: 5px; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;" colspan="2">Robert Dark</td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><i>Director of Information Technology</i></td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><strong>Bellatorum Resources</strong></td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">m:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top">(501) 282-4035  <span style="color: #000000;">o: </span>(832) 559-8217</td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">e:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="mailto:robert@bellatorum.com">robert@bellatorum.com</a></td>
</tr>
<tr>
  <td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">w:</td>
  <td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="http://bellatorum.com">bellatorum.com</a></td></tr>
</tr>
</tbody>
</table>
</td>
</tbody>
</table>


<!-- footer code for Chris Bentley -->

<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-top: 0; border-bottom: 0: border-left: 0; border-right: solid 3px #000000; padding: 0 7px 0 0;" valign="center"><img id="preview-image-url" src="https://www.dropbox.com/s/dzizx1nv34cyano/email-sig2.png?raw=1" /></td>
<td style="padding: 0 0 0 12px;">
<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-bottom: 5px; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;" colspan="2">Chris Bentley</td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><i>President & CEO</i></td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><strong>Bellatorum Resources</strong></td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">m:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top">(713) 444-2370  <span style="color: #000000;">o: </span>(832) 559-8217</td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">e:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="mailto:chris@bellatorum.com">chris@bellatorum.com</a></td>
</tr>
<tr>
  <td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">w:</td>
  <td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="http://bellatorum.com">bellatorum.com</a></td></tr>
</tr>
</tbody>
</table>
</td>
</tbody>
</table>


<!-- footer code for Isack Kohn -->

<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-top: 0; border-bottom: 0: border-left: 0; border-right: solid 3px #000000; padding: 0 7px 0 0;" valign="center"><img id="preview-image-url" src="https://www.dropbox.com/s/dzizx1nv34cyano/email-sig2.png?raw=1" /></td>
<td style="padding: 0 0 0 12px;">
<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-bottom: 5px; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;" colspan="2">Isack Kohn</td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><i>EVP & COO</i></td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><strong>Bellatorum Resources</strong></td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">m:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top">(832) 723-0252  <span style="color: #000000;">o: </span>(832) 559-8217</td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">e:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="mailto:isack@bellatorum.com">isack@bellatorum.com</a></td>
</tr>
<tr>
  <td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">w:</td>
  <td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="http://bellatorum.com">bellatorum.com</a></td></tr>
</tr>
</tbody>
</table>
</td>
</tbody>
</table>

<!-- footer code for Mary Bentley -->

<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="border-top: 0; border-bottom: 0: border-left: 0; border-right: solid 3px #000000; padding: 0 7px 0 0;" valign="center"><img id="preview-image-url" src="https://www.dropbox.com/s/dzizx1nv34cyano/email-sig2.png?raw=1" /></td>
<td style="padding: 0 0 0 12px;">
<table style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding-bottom: 5px; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif;" colspan="2">Mary Bentley</td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><i>Senior Project Manager</i></td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" colspan="2"><strong>Bellatorum Resources</strong></td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">m:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top">(903) 258-0404  <span style="color: #000000;">o: </span>(832) 559-8217</td>
</tr>
<tr>
<td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">e:</td>
<td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="mailto:mary@bellatorum.com">mary@bellatorum.com</a></td>
</tr>
<tr>
  <td style="vertical-align: top; width: 20px; color: #000000; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top" width="20">w:</td>
  <td style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" valign="top"><a style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;" href="http://bellatorum.com">bellatorum.com</a></td></tr>
</tr>
</tbody>
</table>
</td>
</tbody>
</table>


<!-- footer code for Sam -->

<!-- footer code for Bill -->

<!-- footer code for Seth -->

<!-- footer code for Joe -->
